@(event: Event, isPart: Boolean, participants: Seq[play.modules.authenticator.Principal])(implicit context: RequestContext)

@Main {
<div class="container">
	<h1>@event.name</h1>
	<div class="container" style="padding-left: 2px;">
		<b>Ort</b>: @event.ort<br />
		<b>Zeit</b>: @event.zeit
	</div>
	<div class="container" style="margin-top: 50px; margin-bottom: 50px; padding-left: 2px;">
		@Html(event.beschreibung)
	</div>
	<div class="container" style="padding-left: 2px;">
		<p>Die Registrierung ist <b>@if(event.open){offen}else{geschlossen}</b>
		@if(context.princIsAdmin){
			<p><a href='@routes.Events.toggleOpen(event.id)'><button class="btn btn-primary">Registrierung öffnen/schließen</button></a></p>
		}
		@if(isPart) {
			<p>Du bist angemeldet.
			@if(event.open && event.signOffEnabled) {
				<a href='@routes.Events.signoff(event.id)'><button class="btn btn-primary">Abmelden</button></a>
			}
			</p>
		} else {
			<p>Du bist nicht angemeldet.
			@if(event.open) {
				<a href='@routes.Events.signup(event.id)'><button class="btn btn-primary">Anmelden</button></a>
			}
			</p>
		}
	</div>
	@if(context.princIsAdmin) {
		<div class="container" style="padding-left: 2px;">
			<h3>Angemeldete</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Vorname</th>
						<th>Nachname</th>
						<th>Email</th>
						<th>Studiengang</th>
						<th>Telefon</th>
					</tr>
				</thead>
				<tbody>
				@for(participant <- participants) {
					<tr>
						<td>@context.principal.get.value[String]("vorname")</td>
						<td>@context.principal.get.value[String]("nachname")</td>
						<td>@context.principal.get.value[String]("email")</td>
						<td>@context.principal.get.value[String]("studiengang")</td>
						<td>@context.principal.get.value[String]("tel")</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	}
}
