@(event: Event, isPart: Boolean, participants: Seq[play.modules.authenticator.Principal])(implicit context: RequestContext)

@Main {
<div class="container">
	<h1>@event.name</h1>
	Ort: @event.ort<br />
	Zeit: @event.zeit
	<p>@event.beschreibung</p>
	@if(isPart) {
	<p>Du bist angemeldet</p>
	} else {
	<p>Du bist nicht angemeldet. <a href='@routes.Application.anmelden(event.name)'><button class="btn btn-primary">Anmelden</button></a></p>
	}
	@if(context.princIsAdmin) {
	<h3>Angemeldete</h3>
	@for(participant <- participants) {
		<a href='@routes.Application.profile(participant.name)'>@participant.name</a></br>
	}
	}
}
